* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #0668ca;
}

.music-player {
    font-size: 16px;
    width: 80vw;
    max-width: 25em;
    background-color: #ffffff;
    padding: 3em 1.8em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.5em;
    box-shadow: 0.6em 1.2em 3em rgba(0, 0, 0, 0.25);
}

img {
    width: 100%;
    margin-top: 1.25em;
}

#darkMode {
    font-size: 1.4em;
    float: right;
    margin-top: -22px;
    background: black;
    color: #fff;
    width: 75px;
    padding: 7px 0;
    border-radius: 20px;
}
#darkMode i{
    margin-right: 34px;
}
.song-details {
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.song-details #song-name {
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 0.3px;
}

.song-details #song-artist {
    font-size: 0.8em;
}

.player-options {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 1.25em;
    margin: 1.25em 0 0.6em 0;
}

.music-player button {
    border: none;
    background-color: transparent;
}

#play,
#pause {
    height: 2.5em;
    width: 2.5em;
    font-size: 1.8em;
    background-color: #2887e3;
    color: #ffffff;
    border-radius: 50%;
}

#prev,
#next {
    color: #16191e;
    font-size: 1.4em;
}

#shuffle,
#repeat {
    color: #949494;
    font-size: 1em;
}

.hide {
    display: none;
}

#progress-bar {
    position: relative;
    width: 100%;
    height: 0.3em;
    background-color: #eeeeee;
    margin: 1em 0;
    border-radius: 0.18em;
    cursor: pointer;
}

#current-progress {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    height: 100%;
    width: 20%;
    background-color: #2887e3;
    border-radius: 0.18em;
}

.time-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Roboto Mono", monospace;
}

.music-player[style="background: black;"] * {
    color: white ;
}


.hide {
    display: none;
}

.player-options button {
    margin: 0 5px;
    padding: 10px 20px;
    cursor: pointer;
}